body {
    padding: 0px;
    margin: 0px;
    font-family: "Times New Roman", "Georgia", "DejaVu Serif", serif;
}
.header{
    background-color: #000000;
    color: #ffffff;
    border: solid #000000 1px;
}
.nav{
    background-color: #888888;
    color: #ffffff;
    border: solid #888888 1px;
}
.nav > a{
    color: #ffffff;
}
.login_form {
    width: 500px;
    margin: auto;
}
.footnote {
    color: #dddddd;
    font-size: 80%;
}
#login_submit {
    background: #000000;
    color: #ffffff;
    border: solid #000000 1px;
    font-size: 110%;
    width: 100%;
}
.login_form_left {
    width: 30%;
    margin-right: auto;
}
.login_form_right {
    width: 70%;
    margin-left: auto;
}
#course_table th,td {
    border: solid 1px #000000;
}
#course_table table {
    width: 80%;
    margin: auto;
}
.sidebar {
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
    width: 20%;
}
.sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.sidebar li {
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #ffffff;
    background-color: #000000;
    color: #ffffff;
}
.sidebar a {
    color: #ffffff;
}
.sidebar2 ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.sidebar2 li {
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px #ffffff;
    background-color: #000000;
    color: #ffffff;
}
.sidebar2 a {
    color: #ffffff;
}
.sidebar2 {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    background-color: #000000;
    width: 10%;
    float: left;
}
.body {
    margin: 0px;
    padding: 0px;
}
.main {
    float: left;
    width: 65%;
    border-left: solid 1px #ffffff;
}
.hline {
    width: 1px;
    background-color: #000000;
}
.sidebar_s_15 {
    width: 30%;
    float: left;
}
.classroom_info{
    width: 40%;
    float: left;
}
